/*--- FONTS ---*/
$header-font-size: 13px;
$header-line-height: 18px;
$header-font-weight: 600;

$header-margin: 3rem;
$standart-margin: 9.6rem;


/*=== MEDIA===*/

$desktop-bp: 1199px;
$tablet-bp: 991px;
$mobile-bp:575px;