.header {
    width: 100%;
    max-width: 90rem;
    margin-left: $header-margin;
    margin-right: $header-margin;
    margin-top: 1.2rem;

    box-shadow: 0 4px 4px rgba(0,0,0, .25);

    @include dobble-braekpoint ($desktop-bp) {
        width: 60rem;
        padding-top: .5rem;
        margin: 0 auto;
    }

    @include dobble-braekpoint ($mobile-bp) {
        width: 45rem;
        padding-left: 0;
    }
}

.header__top-line {
    width: 100%;
    background-color: #fed600;
}

.divider {
    margin-top: 22px;
    border: 1px solid #bdbdbd;
    opacity: .35;

    @include dobble-braekpoint ($mobile-bp) {
        display: none;
    }
}