<header class="header">
        <div class="header__top-line">
            <div class="header__top">
            <div class="header__top-left">
                <div class="location"><a href="#" class="location-dropdown">Санкт-Петербург</a></div>
                <div class="header__phone">
                    <a class="header__phone-call" href="tel:+78126135838">+7(812) 613-58-38</a>
                </div>
                <div class="header__worktime">
                    Пн–пт 10:00–19:00, сб-вс 10:00–17:00
                </div>
        </div>

            <div class="header__right">
                <div class="header__massage">
                    <a href="#">Напишите нам</a>
                </div>
                <div class="header__massage-to">
                    <a href="#">Свяжитесь с директором</a>
                </div>
                <div class="header__social">
                    <a target="blank" href="#"><img class="header__social-telegram" src="../assets/images/telegram.svg" alt="Telegram"></a>
                    <a target="blank" href="#"><img class="header__social-scype" src="../assets/images/scype.svg" alt="Scype"></a>
                    <a target="blank" href="#"><img class="header__social-phone" src="../assets/images/Phone.svg" alt="Phone"></a>
                </div>
            </div>
            </div><!--HEADER TOP-->
        </div>
        <div class="header__main">
            <div class="header__logo">
                <a href="#"><img src="../assets/images/Logo.png" alt="Logo"></a>
            </div>
            <div class="header__slogan">
                <div class="header__text">Ваш эксперт</div>
                на рынке 3D-техники
            </div>
            <div class="header__achievment">
                <img src="../assets/images/yandex-vote.png" alt="like">
            </div>

            <form class="search" action="#" method="POST">
                <input class="search__input" type="text" placeholder="Введите запрос, например, Formlabs Form 2">
                <button type="search" class="search__btn">Найти</button>
            </form>

            <div class="header__login">
                <a href="#">Войти</a>
            </div>

            <div class="header__bascet">
                <a href="#"><img src="../assets/images/bascet.svg" alt=""></a>
                <button type="button" class="bascet-and-product">Корзина пуста</button>
            </div>
            <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
        </div><!--HEADER MAIN-->

        <div class="header__nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link">Акции</a></li>
                <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Мероприятия</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Оплата и доставка</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Что с моим заказом?</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Гос. закупки</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Блог</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Мастер класс</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            </ul>
        </div><!--HEADER NAV-->

        <div class="divider"></div>

        <div class="header__subnav">
            <ul class="subnav__list">
                <li class="subnav__item"><a href="#" class="subnav__link">3D-принтеры</a></li>
                <li class="subnav__item"><a href="#" class="subnav__link">3D-сканеры</a></li>
                <li class="subnav__item"><a href="#" class="subnav__link">Станки</a></li>
                <li class="subnav__item"><a href="#" class="subnav__link">Роботы</a></li>
                <li class="subnav__item"><a href="#" class="subnav__link">Образование</a></li>
                <li class="subnav__item"><a href="#" class="subnav__link">Стоматологам</a></li>
                <li class="subnav__item"><a href="#" class="subnav__link">Гаджеты</a></li>
                <li class="subnav__item"><a href="#" class="subnav__link">Материалы</a></li>
                <li class="subnav__item"><a href="#" class="subnav__link">ПО</a></li>
                <li class="subnav__item"><a href="#" class="subnav__link">Решения</a></li>
                <li class="subnav__item"><a href="#" class="subnav__link">Учебный центр</a></li>
                <li class="subnav__item"><a href="#" class="subnav__link">Услуги</a></li>
            </ul>
        </div><!--HEADER SUBNAV-->
</header>
