<aside class="sidebar" id="sidebar">
    <div class="sidebar__page">
    <div class="sidebar__header">
        <div class="sidebar__top">
            <div class="sidebar__location"><a href="#" class="sidebar__location-dropdown">Санкт-Петербург</a></div>
            <div class="sidebar__phone">
                <a class="sidebar__phone-call" href="tel:+78126135838">+7(812) 613-58-38</a>
            </div>
            <div class="sidebar__worktime">
                Пн–пт 10:00–19:00, сб-вс 10:00–17:00
            </div>
    </div>
        <ion-icon name="close-outline" class="sidebar__close" id="sidebar-close"></ion-icon>
    </div>

    <div class="sidebar__content">
        <div class="sidebar__nav">
            <ul class="sidebar__nav-list">
                <li class="sidebar__nav-item"><a href="#" class="sidebar__nav-link">Акции</a></li>
                <li class="sidebar__nav-item"><a href="#" class="sidebar__nav-link">О нас</a></li>
                <li class="sidebar__nav-item"><a href="#" class="sidebar__nav-link">Мероприятия</a></li>
                <li class="sidebar__nav-item"><a href="#" class="sidebar__nav-link">Оплата и доставка</a></li>
                <li class="sidebar__nav-item"><a href="#" class="sidebar__nav-link">Что с моим заказом?</a></li>
                <li class="sidebar__nav-item"><a href="#" class="sidebar__nav-link">Гос. закупки</a></li>
                <li class="sidebar__nav-item"><a href="#" class="sidebar__nav-link">Блог</a></li>
                <li class="sidebar__nav-item"><a href="#" class="sidebar__nav-link">Мастер класс</a></li>
                <li class="sidebar__nav-item"><a href="#" class="sidebar__nav-link">Контакты</a></li>
            </ul>
        </div>

        <div class="sidebar__subnav">
            <ul class="sidebar__subnav-list">
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">3D-принтеры</a></li>
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">3D-сканеры</a></li>
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">Станки</a></li>
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">Роботы</a></li>
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">Образование</a></li>
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">Стоматологам</a></li>
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">Гаджеты</a></li>
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">Материалы</a></li>
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">ПО</a></li>
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">Решения</a></li>
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">Учебный центр</a></li>
                <li class="sidebar__subnav-item"><a href="#" class="sidebar__subnav-link">Услуги</a></li>
            </ul>
        </div>
    </div><!--sidebar__content-->
    </div>
</aside>